@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(109.8deg, rgb(62, 5, 116) -5.2%, rgb(41, 14, 151) -5.2%, rgb(216, 68, 148) 103.3%);
    height: 350vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    
}
.name{
    
    text-decoration:underline ;
}
.img-grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 10vh;
}

.card{
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    font-family: 'Alkatra', cursive;
    
    
}
.desc{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    height: 300px;
    align-items: flex-start;
    background-color: white;
    color: black;
    z-index: 1;
}
.card p {
    color: black;
}
.hide{
    display: none;
}

